In [2]:
from dataclasses import dataclass

In [3]:
@dataclass
class ModelInputs:
    starting_salary: int = 60000
    promos_every_n_years: int = 5
    cost_of_living_raise: float = 0.02
    promo_raise: float = 0.15
    savings_rate: float = 0.25
    interest_rate: float = 0.05
    desired_cash: int = 1500000
        
model_data = ModelInputs()
model_data

ModelInputs(starting_salary=60000, promos_every_n_years=5, cost_of_living_raise=0.02, promo_raise=0.15, savings_rate=0.25, interest_rate=0.05, desired_cash=1500000)

# Salary

Here the salary for each year is calculated. We assume that the salary grows at a constant rate each year for cost of living raises, and then also every number of years, the salary increases by a further percentage due to a promotion or switching jobs. Based on this assumption, the salary would evolve over time with the following equation:

$$s_t = s_0 (1 + r_{cl})^n (1 + r_p)^p$$

Where:
- $s_t$: Salary at year $t$
- $s_0$: Starting salary (year 0)
- $r_{cl}$: Annual cost of living raise
- $r_p$: Promotion raise
- $p$: Number of promotions

In [4]:
def salary_at_year (data, year):

    num_promos = int(year / data.promos_every_n_years)
    salary_t = data.starting_salary * (1 + data.cost_of_living_raise)**year * (1 + data.promo_raise)**num_promos
    return salary_t

In [5]:
for i in range(6):
    year = i + 1
    salary = salary_at_year(model_data, year)
    print (f'The salary at year {year} is ${salary:.0f}.')

The salary at year 1 is $61200.
The salary at year 2 is $62424.
The salary at year 3 is $63672.
The salary at year 4 is $64946.
The salary at year 5 is $76182.
The salary at year 6 is $77705.

# Wealth

To get the wealth at each year, it is just applying the investment return to last year's wealth, then adding this year's cash saved:

$$w_t = w_{t-1} (1 + r_i) + c_t$$
Where:
- $w_t$: Wealth at year $t$
- $r_i$: Investment rate
- $c_t$: Cash saved during year $t$
- $r_s$: Savings rate

In [6]:
def cash_saved_during_year (model_data, year):
    salary = salary_at_year(model_data, year) 
    cash_saved = salary * model_data.savings_rate 
    return cash_saved
cash_saved_during_year(model_data,5)

19045.3938552

In [7]:
year = 5
prior_wealth = 0

def wealth_at_year(model_data, year, prior_wealth):
    cash_saved = cash_saved_during_year (model_data, year)
    wealth = prior_wealth * (1+model_data.interest_rate) + cash_saved
    return wealth
wealth

NameError: name 'wealth' is not defined

In [8]:
prior_wealth = 0  # starting with no cash saved
for i in range(6):
    year = i + 1
    wealth = wealth_at_year(model_data, year, prior_wealth)
    print(f'The wealth at year {year} is ${wealth:.0f}.')
    
    # Set next year's prior wealth to this year's wealth
    prior_wealth = wealth

The wealth at year 1 is $15300.
The wealth at year 2 is $31671.
The wealth at year 3 is $49173.
The wealth at year 4 is $67868.
The wealth at year 5 is $90307.
The wealth at year 6 is $114248.

# Retirement

In [15]:
def years_to_retirement(model_data):
    prior_wealth = 0
    wealth = 0 
    year = 0
    
    print('wealth')
    while wealth < model_data.desired_cash: 
        year = year + 1 
        wealth = wealth_at_year(model_data, year, prior_wealth)
        print(f'The wealth at year {year} is ${wealth:,.0f}.')
        
        prior_wealth = wealth
    
    print(f'\nRetirement:\nIT will take {year} years to retire.') 
    return year
years = years_to_retirement(model_data)

wealth
The wealth at year 1 is $15,300.
The wealth at year 2 is $31,671.
The wealth at year 3 is $49,173.
The wealth at year 4 is $67,868.
The wealth at year 5 is $90,307.
The wealth at year 6 is $114,248.
The wealth at year 7 is $139,775.
The wealth at year 8 is $166,975.
The wealth at year 9 is $195,939.
The wealth at year 10 is $229,918.
The wealth at year 11 is $266,080.
The wealth at year 12 is $304,542.
The wealth at year 13 is $345,431.
The wealth at year 14 is $388,878.
The wealth at year 15 is $439,025.
The wealth at year 16 is $492,294.
The wealth at year 17 is $548,853.
The wealth at year 18 is $608,878.
The wealth at year 19 is $672,557.
The wealth at year 20 is $745,168.
The wealth at year 21 is $822,190.
The wealth at year 22 is $903,859.
The wealth at year 23 is $990,422.
The wealth at year 24 is $1,082,140.
The wealth at year 25 is $1,185,745.
The wealth at year 26 is $1,295,520.
The wealth at year 27 is $1,411,793.
The wealth at year 28 is $1,534,910.

Retirement:
IT will take 28 years to retire.